@use '../abstracts' as *;
/* buttons */
.btn {
  cursor: pointer;
  color: $white;
  background: $black;
  border: transparent;
  border-radius: $borderRadius;
  letter-spacing: $letterSpacing;
  padding: 0.375rem 0.75rem;
  transition: $transition;
  text-transform: capitalize;
  display: inline-block;
  

  &:hover {
    background: $white;
    color: $black;
    box-shadow: $shadow-3;
  }
  &-ios {
    color: $white;
    background: $black;
    &:hover {
      background: $iosBtnBgHover;
    }
  }
  &-android {
    color: $black;
    background: $white;
    &:hover {
      background: $androidBtnBgHover;
    }
  }
  &-block {
    width: 100%;
  } /*block class is good with forms*/
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: $borderRadius;
}

.alert-errors {
  color: $red-dark;
  background: $red-light;
}
.alert-success {
  color: $green-dark;
  background: $green-light;
}
