@use '../abstracts' as *;

.cards {
  max-width: 100%;
  width: 100%;
  height: 100%;
  @include grid(center);
  border-radius: $borderRadius;
  background-color: $black;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 468px;
    border-radius: 100px 100px 0 0;
    position: absolute;
    top: 0;
    background: $black url(../assets/bg-pattern-2.svg) no-repeat center
      center/contain;
  }
}
.card {
  max-width: 100%;
  width: 100%;
  @include grid(center);
  border-radius: $borderRadius;
  overflow: hidden;
  z-index: 9;
  position: absolute;

  &__header {
    width: 208.97px;
    top: -100px;
  }

  &__body {
    top: 429px;
    padding: $padding * 4 $padding * 3;
    background-color: $primaryRed;
    color: $white;
    gap: $gap * 3.2;

    .textContainer {
      @include grid(center);
      gap: $gap * 2.2;

      .secondaryHeading {
        width: 100%;
        justify-self: start;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0;
      }
      .body1 {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
        margin: 0;
      }
    }

    .price {
      justify-self: start;
      @include flex(row, center, center);
      gap: $gap * 2;
      .number {
        font-weight: $bold;
        font-size: 65px;
      }
      .body2 {
        font-size: 20px;
        letter-spacing: -0.2px;
        line-height: 32px;
      }
    }
    &--footer {
      width: 100%;
      @include grid(center);
      gap: $gap * 2;

      .btn {
        font-size: 18px;
        font-weight: $bold;
        height: 61px;
        text-transform: initial;
      }
    }
  }
}

@media (min-width: $tablets) {
  .cards {
    width: 696px;

    .card {
      width: 400px;
      &__header {
        width: 270px;
        left: 9%;
      }
      &__body {
        right: 9%;
        top: 30%;
      }
    }
  }
}
@media (min-width: $bigScreens) {
  .cards {
    width: 1110px;

    .card {
      width: 446px;
      &__header {
        width: 270px;
        left: 210px;
      }
      &__body {
        right: 45px;
        top: 20%;
      }
    }
  }
}
