@use '../abstracts' as *;

.card {
  width: 100%;
  @include grid(center);
  border-radius: $borderRadius;
  background-color: $black;
  position: relative;

  &::before {
    content: '';
    width: 312px;
    height: 468px;
    position: absolute;
    top: 0;
    background: $black url(../assets/bg-pattern-2.svg) no-repeat center
      center/contain;
  }

  &__header {
    transform: translateY(-100px);
    padding: 0 $padding * 2;
  }
  &__body {
    background-color: $primaryRed;
    color: $white;

    .container {
      padding: 0 $padding * 2;
    }
  }
  &__footer {
  }
}
