@use '../abstracts' as *;

/* images */
.imgContainer {
  max-width: 100%;
  // border: 5px solid $primary-500;
  border-radius: $borderRadius;

  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
