@use '../abstracts' as *;

.header {
  width: 100%;
  max-width: 1110px;
  padding: $padding $padding * 2;
  @include flex(column, center, flex-start);
  gap: $gap * 2;
  position: relative;
  background-color: transparent;
}

