@use '../abstracts' as *;
@use '../components/card';

.main {
  width: 100%;
  max-width: 100%;
  min-height: $fixedWidth * 1.5;
  @include grid(center);
  border-radius: $borderRadius;
  margin-top: 100px;
}
